!!!
%html
  %head
    %title Things I haven't forgiven Kelvin for
    %link{ href: '/main.css', type: 'text/css', rel: 'stylesheet' }
  %body
    .content
      %h1 Things I haven't forgiven Kelvin for
      %ul
        %li That artifactory link.
        %li That blue shell.
        %li Fixing that vagrant error.

